body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#logo{
    padding: 8px;
    font-size: 30px;
    color: darkblue;
}

h1{
    text-align: center;
    color: darkblue;
}
#banner{
    width: 100%;
    object-fit: cover;
}

.option{
    color: grey;
    text-align: center;
}

#sideabout{
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    
}

#image{
    width: 50%;
    padding-right: 30px;
}

#nekoimg{
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
}
#abt{
    width: 50%;
    padding: 30px;
}

.wholeop{
    padding: 10px;
}
h3 {
    margin: 0;
}
